page-firstloginstep1 {
    .logo-img {
        width: 50%;
        margin-top: 20%;
    }
    .font-size{
        font-size: 1.2em;
    }
    .fix-itm{
            border-bottom: 1px solid transparent !important;
        
    }
}
