page-firstloginstep4 {
    .slide-xpromote {
        height: 30vh;
        border: solid red;
    }
    .font-size{
        font-size: 1.2em;
    }
    .slide-xsize{
        height: 25vh;        
    }
    .row-custom {
        flex-wrap: inherit !important;
    }
    .cateimg {
        height: 110px;
        width: 150px;
        border-style: solid;
        border-width: 0.5px;
        border-color: #dadada;
    }
    .detail-open-close{
        margin-top: 20px;
        border: solid red;        
    }
}
