page-firstloginstep-modal {
    .containerclass {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #eb3841;
        margin-bottom: 3vh; // padding-bottom: 4vh;
    }
}