<ion-header>

  <ion-navbar color="maintheme">
    <ion-buttons left>
      <button ion-button icon-only (click)="myProfile()">
        <ion-icon name="ios-contact-outline"></ion-icon>
        <!-- <preload-image class="preload-profile-image" [ratio]="{w:1, h:1}" [src]="user.profileImageURL" [isIcon]="true"></preload-image> -->
      </button>
    </ion-buttons>

    <ion-title>{{shop.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <preload-image [ratio]="{w:20, h:9}" [src]="shop.coverimage" [isIcon]="true"></preload-image>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-row>
          <h4>
            {{shop.name}}
            <ion-icon name="md-create" color="light" (click)="edit(shop)">
            </ion-icon>
          </h4>
        </ion-row>
        <ion-row>
          {{shop.detail}}
        </ion-row>
        <ion-row>
          <span>{{shop.address.addressdetail}}</span>&nbsp;
          <!-- <ion-badge class="icon-ads" item-end color="bite" [ngClass]="{'open': shop.isopen}">{{isO | translate}}</ion-badge> -->
          <ion-badge color="secondary" *ngIf="shop.isopen == true" class="isopen" (click)="changeStatus('open')">เปิด</ion-badge>
          <ion-badge color="danger" *ngIf="shop.isopen == false" class="isopen" (click)="changeStatus('close')">ปิด</ion-badge>
        </ion-row>

        <button ion-button icon-left clear large class="cover-changer">
          <ion-icon name="camera" color="light" (click)="selectShopBG()"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-scroll scrollX="true">
    <ion-row class="row-custom">
      <ion-col col-3 *ngFor="let item of shop.promoteimage; let i = index;" class="col-imgpromote">
        <preload-image [ratio]="{w:1, h:1}" [src]="item" (click)="showPhoto(i)"></preload-image>
      </ion-col>
    </ion-row>
  </ion-scroll>

  <div padding>
    <ion-segment mode="ios" color="bite" [(ngModel)]="category">
      <ion-segment-button *ngFor="let segment of shop.products; let i = index;" [ngClass]="{'active-page' : i == category}" (click)="onSelectedConditionCate(i)">
        {{ segment.title | translate }}
      </ion-segment-button>
    </ion-segment>
  </div>

  <h5 class="category-title" no-padding>{{'PRODUCT_CATEGORY' | translate}}</h5>

  <ion-scroll scrollX="true">
    <ion-row class="row-custom">
      <ion-col col-3 *ngFor="let cate of shop.items; let ii = index;" class="col-imgpromote" (click)="selectCate(ii + 1,cate)">
        <preload-image class="categories-image" [ratio]="{w:1, h:1}" [src]="cate.cate.image" [ngClass]="ii === (index -1) ? 'selectedCategory' : ''"></preload-image>
        <p class="cate-order">{{cate.cate.name}}</p>
      </ion-col>
    </ion-row>
  </ion-scroll>

  
  <ion-grid class="grid-product" *ngIf="shop.items && idx >= 0">
    <ion-row no-padding [sortablejs]="shop.items[idx].products" [sortablejsOptions]="options">
      <ion-col col-3 *ngFor="let itm of shop.items[idx].products; let i = idx;" >
          <preload-image [ratio]="{w:1, h:1}" [src]="itm.image" ></preload-image>
          <div class="cate-order">{{itm.name}}</div>
        </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>