<ion-header>

  <ion-navbar color="maintheme">
    <ion-buttons left *ngIf="user && user.profileImageURL">
      <button ion-button icon-only (click)="myProfile()">
        <ion-avatar item-start>
          <preload-image class="preload-profile-image" [ratio]="{w:1, h:1}" [src]="user.profileImageURL" [isIcon]="true"></preload-image>
        </ion-avatar>
      </button>
    </ion-buttons>
    <ion-title>{{shop.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <preload-image [ratio]="{w:20, h:9}" [src]="shop.coverimage" [isIcon]="true"></preload-image>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-row>
          <h4>
            {{shop.name}}
            <ion-icon name="md-create" color="light" (click)="edit(shop)">
            </ion-icon>
          </h4>
        </ion-row>
        <ion-row>
          {{shop.detail}}
        </ion-row>
        <ion-row>
          <span>{{shop.address.addressdetail}}</span>&nbsp;
          <!-- <ion-badge class="icon-ads" item-end color="bite" [ngClass]="{'open': shop.isopen}">{{isO | translate}}</ion-badge> -->
          <ion-badge color="secondary" *ngIf="shop.isopen == true" class="isopen" (click)="changeStatus('open')">เปิด</ion-badge>
          <ion-badge color="danger" *ngIf="shop.isopen == false" class="isopen" (click)="changeStatus('close')">ปิด</ion-badge>
        </ion-row>

        <button ion-button icon-left clear large class="cover-changer" (click)="openActionSheet('cover')">
          <ion-icon name="camera" color="light"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-scroll scrollX="true">
    <ion-row class="row-custom">
      <ion-col col-3 *ngIf="isModify" class="col-imgpromote">
        <preload-image [ratio]="{w:1, h:1}" [src]="'./assets/imgs/add.jpg'" (click)="openActionSheet('promote')"></preload-image>
      </ion-col>
      <ion-col col-3 *ngFor="let item of shop.promoteimage; let i = index;" class="col-imgpromote">
        <preload-image [ratio]="{w:1, h:1}" [src]="item"></preload-image>
        <div class="deletepromote" no-padding>
          <button *ngIf="isModify" ion-button icon-left clear small no-padding (click)="deletePromoteShop(i)">
            <ion-icon name="md-close-circle" color="light"></ion-icon>
          </button>
        </div>

      </ion-col>
    </ion-row>
  </ion-scroll>
  <div padding>
    <ion-segment mode="ios" color="bite" [(ngModel)]="category">
      <ion-segment-button *ngFor="let segment of shop.products; let i = index;" [ngClass]="{'active-page' : i == category}" (click)="onSelectedConditionCate(i)">
        {{ segment.title | translate }}
      </ion-segment-button>
    </ion-segment>
  </div>

  <h5 class="category-title" no-padding>{{'PRODUCT_CATEGORY' | translate}}</h5>

  <ion-scroll scrollX="true">
    <ion-row class="row-custom">
      <ion-col col-3 *ngFor="let cate of shop.items; let ii = index;" class="col-imgpromote" (click)="selectCate(ii,cate.cate)">
        <preload-image class="categories-image" [ratio]="{w:1, h:1}" [src]="cate.cate.image" [ngClass]="ii === index ? 'selectedCategory' : ''"></preload-image>
        <p class="cate-order">{{cate.cate.name}}</p>
        <!-- <div class="deletepromote" no-padding> -->
        <div class="cateoption" no-padding>
          <button *ngIf="isModify && ii === index ? 'selectedCategory' : ''" ion-button icon-left clear small no-padding (click)="openEditCate(cate.cate)">
            <ion-icon name="md-more" color="dark"></ion-icon>
          </button>
        </div>
      </ion-col>
      <ion-col col-3 *ngIf="isModify" class="col-imgpromote">
        <preload-image [ratio]="{w:1, h:1}" [src]="'./assets/imgs/add.jpg'" (click)="openActionSheet('cate')"></preload-image>
      </ion-col>
    </ion-row>
  </ion-scroll>


  <ion-grid class="grid-product" *ngIf="shop.items && shop.items.length > 0 && shop.items[index].products && shop.items[index].products.length > 0">
    <ion-row *ngIf="isModify" no-padding [sortablejs]="shop.items[index].products" [sortablejsOptions]="options">
      <ion-col col-3 *ngFor="let itm of shop.items[index].products; let i = index;" [ngClass]="itm.image === './assets/imgs/add.jpg' ? 'js-edit' : ''">
        <preload-image [ratio]="{w:1, h:1}" [src]="itm.image" (click)="openActionSheet('product', i, itm.name)"></preload-image>
        <div class="productoption" no-padding *ngIf="itm.name">
          <button ion-button small icon-left clear large no-padding (click)="openEditProduct(itm,i)">
            <ion-icon name="md-more" color="dark"></ion-icon>
          </button>
        </div>
        <div [ngClass]="itm.name ? 'product-string' : ''">
          <p class="magin-0" *ngIf="itm.name">{{itm.name}}</p>
          <p class="magin-0" *ngIf="itm.name">{{itm.price}} .-</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!isModify && shop.items[index].products && shop.items[index].products.length > 0">
      <ion-col col-3 *ngFor="let itm of shop.items[index].products; let i = index;">
        <preload-image [ratio]="{w:1, h:1}" [src]="itm.image === './assets/imgs/add.jpg' ? './assets/imgs/add1.jpg' : itm.image"></preload-image>
        <div [ngClass]="itm.name ? 'product-string' : ''">
          <p class="magin-0" *ngIf="itm.name">{{itm.name}}</p>
          <p class="magin-0" *ngIf="itm.name">{{itm.price}} .-</p>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-fab right bottom *ngIf="isModify">
    <button ion-fab color="secondary" (click)="clearMode()">
      <ion-icon class="larger" name="md-checkmark"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab right bottom *ngIf="!isModify">

    <button ion-fab color="danger" (click)="setModeEdit()">
      <ion-icon name="md-create"></ion-icon>
    </button>
  </ion-fab>
</ion-content>