page-tabnav {
    img {
        border: 0;
        // width: 200%;
        // height: 80px;
        // max-width: 150px;
        height: auto;
        object-fit: cover;
      }
      ion-fab[center] {
        margin-left: 0px !important;
        left: 50% !important;
        margin-right: -50% !important;
        transform: translate(-50%, -0%) !important;
      }
    //   .tabs-ios .tabbar {
    //     -webkit-box-pack: center;
    //     -webkit-justify-content: center;
    //     -ms-flex-pack: center;
    //     justify-content: center;
    //     border-top: 0.55px solid rgba(0, 0, 0, 0.3);
    //     background: red;
    // }
}
.fab-ios {
    color: #fff;
    background-color: #b3222f;
}
